<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Current Visit">
    <mat-card class="current-visit">
      <section class="patient-info">
        <h2 class="mat-title">Patient</h2>
        <p class="mat-body-1">Name: {{ appointment.patient.name }}</p>
        <p class="mat-body-1">Surname: {{ appointment.patient.surname }}</p>
        <p class="mat-body-1">PESEL: {{ appointment.patient.identityNumber }}</p>
      </section>
      <form [formGroup]="visitForm" (ngSubmit)="onSubmit(visitForm.value)">
        <section>
          <h2 class="mat-title">Visit description</h2>
          <mat-form-field class="description" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea
              matInput
              formControlName="description"
              class="description-textarea"
              type="text"
            ></textarea>
          </mat-form-field>
        </section>
        <section>
          <h2 class="mat-title">Lab test orders</h2>
          <mat-accordion formArrayName="labTestOrders">
            <mat-expansion-panel
              *ngFor="let labTestOrder of labTestOrders.controls; index as i"
              [formGroupName]="i"
            >
              <mat-expansion-panel-header>
                {{ labTestOrder.value.name ? labTestOrder.value.name : 'New lab test' }}
              </mat-expansion-panel-header>
              <mat-form-field class="name" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput class="name-input" formControlName="name" type="text" />
              </mat-form-field>
              <mat-form-field class="note" appearance="outline">
                <mat-label>Note</mat-label>
                <textarea matInput class="note-textarea" formControlName="doctorsNote" type="text"></textarea>
              </mat-form-field>
              <mat-action-row>
                <button mat-flat-button color="primary" (click)="removeTest(i)" type="button">Remove</button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
          <button mat-flat-button color="primary" class="new-button" (click)="addTest()" type="button">
            Add
          </button>
        </section>
        <section>
          <h2 class="mat-title">Visit Diagnosis</h2>
          <mat-form-field class="diagnosis" appearance="outline">
            <mat-label>Diagnosis</mat-label>
            <textarea matInput formControlName="diagnosis" class="diagnosis-textarea" type="text"></textarea>
          </mat-form-field>
        </section>
        <mat-card-actions align="right">
          <button mat-button type="button" (click)="abort()">
            Abort
          </button>
          <button mat-flat-button color="primary" type="submit" [disabled]="!visitForm.valid">
            Finish
          </button>
        </mat-card-actions>
      </form>
    </mat-card>
  </mat-tab>
  <mat-tab label="Patients History">
    <div *ngIf="patientHistory$ | async as patientHistory">
      <mat-card class="patient-history">
        <div class="accordion">
          <h1 class="mat-headline">Visit history</h1>
          <mat-accordion>
            <mat-expansion-panel *ngFor="let visit of patientHistory.visits">
              <mat-expansion-panel-header>
                {{ visit.appointment.appointmentDate | date }}
              </mat-expansion-panel-header>
              <h3 class="mat-subheading-1">Description: {{ visit.description }}</h3>
              <h3 class="mat-subheading-1">Diagnosis: {{ visit.diagnosis }}</h3>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

        <div class="accordion">
          <h1 class="mat-headline">Lab results</h1>
          <mat-accordion>
            <mat-expansion-panel *ngFor="let exam of patientHistory.testResults">
              <mat-expansion-panel-header>
                {{ exam.testName }}
              </mat-expansion-panel-header>
              <h3 class="mat-subheading-1">Result: {{ exam.result }}</h3>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
