<div class="login-page">
  <mat-card class="login-page__window">
    <mat-card-title>Sign in</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="email" placeholder="Username" />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary">Sign in</button>
    </mat-card-actions>
  </mat-card>
</div>
