<div class="options">
  <mat-form-field class="options-left-item">
    <input
      #name
      matInput
      placeholder="Patient name"
      [ngModel]="filterName"
      (ngModelChange)="filterPatients()"
    />
  </mat-form-field>

  <mat-form-field class="options-left-item">
    <input
      #surname
      matInput
      placeholder="Patient surname"
      [ngModel]="filterSurname"
      (ngModelChange)="filterPatients()"
    />
  </mat-form-field>

  <span class="divider"></span>

  <button mat-button color="primary" (click)="openPatientDialog()">
    Register a patient
  </button>

  <button
    class="options-right-item"
    mat-flat-button
    color="primary"
    [disabled]="selectedPatient == null"
    (click)="openAppointmentDialog()"
  >
    Make an appointment
  </button>
</div>

<app-generic-table
  [data]="patients"
  [columnsInfo]="columnsInfo"
  [clickableRows]="true"
  [selectedRow]="selectedPatient"
  (selectedRowChange)="patientSelected($event)"
></app-generic-table>
