:host {
  height: 100%;
  display: flex;
  flex-direction: column;

  .options {
    padding: 20px 30px 10px 30px;
    display: flex;
    align-items: center;

    .options-left-item {
      margin-right: 30px;
    }

    .options-right-item {
      margin-left: 30px;
    }

    .divider {
      flex: 1 1 auto;
    }
  }

  app-generic-table {
    flex: 1 1 auto;
  }
}
