<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Current Visit">
    <div class="current-visit">
      <section class="patient-info">
        <h1 class="mat-headline">Patient</h1>
        <h3 class="mat-subheading-2">Name: {{ appointment.patient.name }}</h3>
        <h3 class="mat-subheading-2">Surname: {{ appointment.patient.surname }}</h3>
        <h3 class="mat-subheading-2">PESEL: {{ appointment.patient.identityNumber }}</h3>
      </section>
      <form [formGroup]="visitForm" (ngSubmit)="onSubmit(visitForm.value)">
        <section>
          <h1 class="mat-headline">Visit procedure</h1>
          <mat-form-field class="description" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" class="description-textarea" type="text"></textarea>
          </mat-form-field>
        </section>
        <section>
          <h1 class="mat-headline">Diagnosis</h1>
          <mat-form-field class="diagnosis" appearance="outline">
            <mat-label>Diagnosis</mat-label>
            <textarea matInput formControlName="diagnosis" class="diagnosis-textarea" type="text"></textarea>
          </mat-form-field>
        </section>
        <div class="form-buttons">
          <button mat-button type="button" (click)="abort()">
            Abort
          </button>
          <button mat-flat-button color="primary" type="submit" [disabled]="!visitForm.valid">
            Finish
          </button>
        </div>
      </form>
    </div>
  </mat-tab>
  <mat-tab label="Patients History">
    <div>historia pacjenta</div>
  </mat-tab>
</mat-tab-group>
