@import './../../styles.scss';

.sidenav-container {
  height: 100%;

  .sidenav {
    .mat-card {
      padding-top: 32px;
      padding-bottom: 0;
      border-radius: 0;

      .mat-card-header {
        width: 250px;
        height: 60px;

        .avatar {
          font-size: 40px;
        }

        .logout-button {
          margin: 0 0 auto auto;
        }
      }
    }

    .mat-nav-list {
      margin-right: 16px;

      .mat-list-item {
        border-radius: 0 100px 100px 0;

        .link-text {
          margin-left: 16px;
        }

        &.active {
          background-color: map-get($app-primary, 50);
          color: map-get($app-primary, 500);
        }
      }
    }
  }

  .mat-sidenav-content {
    display: flex;
    flex-direction: column;

    .mat-toolbar {
      flex: 0 0 64px;
    }

    .router-wrapper {
      flex: 1 1 auto;
    }
  }
}
