@import 'src/styles.scss';

.mat-elevation-z8 {
  height: 100%;

  .full-width-table {
    width: 100%;
  }

  .mat-column-options {
    text-align: center;
  }

  .clickable {
    &:hover {
      background-color: map-get($app-background, hover);
      cursor: pointer;
    }

    &.active {
      background-color: map-get($app-primary, 50);
    }
  }
}
