.mat-card {
  max-width: 700px;
  margin: 20px auto;

  .result {
    width: 100%;

    &-textarea {
      height: 20vh;
    }
  }

  .test-info {
    display: flex;

    & > div {
      display: inline-block;
      flex: 1;
    }
  }

  section {
    padding: 20px;
  }
}
